.hidden {
  display: none;
}

.disabled {
  opacity: 0.2;
  cursor: not-allowed;
  transition: none !important;
}

.disabled:hover {
  color: #fff !important;
  background: #2b9cdbc4 !important;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}

.toolbar {
  width: 100%;
  background: #eee;
  padding: 10px 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: #2b9cdbc4;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px;
  transition: 0.3s
}

ul.controll, ul.textbar {
  display: flex;
  flex-direction: row;
}

ul.controll li, ul.textbar li {
  display: flex;
  margin: 0 6px;
}

.btn:hover {
  color: #61a6dc;
  background: #fff;
}

.upload {
  position: relative;
  overflow: hidden;
}

.upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload:hover a {
  color: #61a6dc;
  background: #fff;
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000e3;
  z-index: 1;
}

.preview img {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
