body {
  background: purple;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.tools {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 8px;
}

#download {
  color: #fff;
}
